/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general rules */
ul{
    list-style: none;
}

button{
    padding: .5em 1em;
    border-radius: 20px;
    text-align: center;
    border: none;
}

/* element rules */
body{
    font-family: "cabin", sans-serif;
}

header{
    display: flex;
    flex-wrap: wrap;
    font-size: .7em;
}

.logo-bar{
    padding: .9% 10%; 
    background-color: #255ee9;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo-bar>img{
    max-width: 100%;
    width: 10%;
}

.logo-bar ul{
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.download{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    color: white;
    text-align: center;
    font-size: 1.2em;
    padding: 9% 24.5% 7.5%;
}

.download h1{
    font-size: 2.5em;
    padding: 0 0 5%;
}

.download p{
    padding: 0 0 2.5%;
}

main{
    display: flex;
    flex-wrap: wrap;
}

main section{
    padding-top: 8%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 6%;
}

main section img{
    width: 35%
}

main section div{
    max-width: 30%;
}

main section:last-of-type{
    display: flex;
    flex-wrap: wrap;
}

main section:last-of-type div{
    max-width: 100%;
    padding: 0 15%;
    text-align: center;
}

.last-download{
    padding: 10% 30%;
    margin: 0 auto;
    text-align: center;
}

.last-download h3{
    padding-bottom: 10%;
}

footer{
    background-color: #23272a;
    padding: 4% 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer ul{
    padding-bottom: 2.5%;
}

footer li{
    padding: 3% 0;
}

.register{
    border-top: 1px solid;
    padding: 1% 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}