/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general rules */
ul{
    list-style: none;
}

button{
    padding: .5em 1em;
    border-radius: 20px;
    text-align: center;
    border: none;
}

/* element rules */
body{
    font-family: "cabin", sans-serif;
}

header{
    display: flex;
    flex-wrap: wrap;
    font-size: .65em;
}

.logo-bar{
    padding: 1% 10% 3% ; 
    background-color: #255ee9;
    color: white;
    display: flex;
    justify-content: space-between;
    align-content: end;
    width: 100%;
}

.logo-bar>img{
    max-width: 100%;
    width: 10%;
}

.logo-bar nav{
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-bar nav ul{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding: 0 10%;
}
.login-button{
    display: flex;
    justify-content: end;
    width: 10%;
}

.login-button button{
    font-size: .9em;
}

.jumbotron{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: center center;
    color: white;
    text-align: center;
    font-size: 1.3em;
    padding: 7% 24.5% 7.5%;
}

.jumbotron h1{
    font-size: 2.5em;
    padding: 0 0 4%;
}

.jumbotron p{
    padding: 0 0 2.5%;
    line-height: 1.5em;
}

main{
    display: flex;
    flex-wrap: wrap;
}

main section{
    padding-top: 8%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 6%;
}

main section img{
    width: 35%
}

main section div{
    max-width: 30%;
}

main section:last-of-type{
    display: flex;
    flex-wrap: wrap;
}

main section:last-of-type div{
    max-width: 100%;
    padding: 0 15%;
    text-align: center;
}

.last-download{
    padding: 10% 30%;
    margin: 0 auto;
    text-align: center;
}

.last-download h3{
    padding-bottom: 10%;
}

footer{
    background-color: #23272a;
    color: white;
    padding: 4% 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.socials-links{
width: 20%;
}

footer nav{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

footer ul{
    padding-bottom: 2.5%;
}

footer li{
    padding: 3% 0;
}

.register{
    border-top: 1px solid;
    padding: 1% 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}